@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .95rem;
  position: relative;
}

.header-container-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 70%; */
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav li{
  margin-left: 5em;
  opacity: 40%;
}

header a{
  text-decoration: none;
  color: #FFFFFF;
}

.header-container-2{
  width: 20%;
}

.container{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.25em 4em;
  position: relative;
  border: #262B36 5px solid;
}

.sign-in{
  border-right: 1px solid #EEEEEE;
  color: #262B36;
}

.nav-get-started{
  color: #3ACF6E;
}

.sign-in, .nav-get-started{
  padding: 0 1em;
}

.logo{
  width: 25%;
}

.current-section{
  opacity: 100%;
}

.home h1{
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 400;
}

.imgs-div{
  position: absolute;
  right: 0;
  top: 0;
}

.home-img-1, .home-img-1{
  position: absolute;
  right: 0;
  top: 0;
}

.home{
  border: #262B36 5px solid;
  position: relative;
}


